<h1 class="heading-1">All Tasks</h1>

<div class="btn">
    <%= link_to new_task_path do %>
        <i class="fa-solid fa-plus"></i> Add A New Task
    <% end %>
</div>

<%= render "tasks", tasks: @overdue_tasks, label: "Overdue" %>
<%= render "tasks", tasks: @today_tasks, label: "Today" %>
<%= render "tasks", tasks: @future_tasks, label: "Future" %>
<%= render "tasks", tasks: @completed_tasks, label: "Completed" %>
