<div class='back-btn'>
    <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left"></i> Back
    <% end %>
</div>

<div class="task-show-container">
    <div class="task-header">
        <h1><%= @task.title %></h1>

        <div class="task-header-actions">
            <%= link_to edit_task_path(@task) do %>
                <i class="fa-solid fa-pencil edit-btn action-btn"></i>
            <% end %>
            <%= link_to task_path(@task), method: :delete, data: {
                    confirm: "Are you sure"
            } do %>
                <i class="fa-solid fa-trash delete-btn action-btn"></i>
            <% end %>
        </div>
    </div>
    <h3>Category: <%= @task.category.name %></h3>

    <h2>Due Date: <%= @task.due_date.strftime("%^a %b %d, %Y") %></h2>
    <p><%= @task.notes %></p>
</div>
