<h1><%= @task.title %></h1>
<h3>Category: <%= @task_category.name %></h3>

<h2>Due Date: <%= @task.due_date.strftime("%^a %b %d, %Y") %></h2>
<p><%= @task.notes %></p>

<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete", task_path(@task), method: :delete, data: {
        confirm: "Are you sure"
} %>
