<div class='back-btn task-back'>
    <%= link_to 'javascript:history.back()' do %>
    <i class="fa-solid fa-arrow-left"></i> Back
    <% end %>
</div>

<div class="task-show-container">
    <div class="task-header">
        <div class="task-header-main"?
            <%= form_with class: 'task-check-form', model: @task do |f| %>
                <%= f.check_box :completed, class: 'task-check' %>
            <% end %>

            <h1><%= @task.title %></h1>
        </div>

        <div class="task-header-actions">
            <%= link_to edit_task_path(@task) do %>
                <i class="fa-solid fa-pencil edit-btn action-btn"></i>
            <% end %>
            <%= link_to task_path(@task), method: :delete, data: {
                    confirm: "Are you sure"
            } do %>
                <i class="fa-solid fa-trash delete-btn action-btn"></i>
            <% end %>
        </div>
    </div>

    <div class="task-subheader">
        <%= link_to category_path(@task.category), class: "category" do %>
            [ <%= @task.category.name %> ]
        <% end %>
    </div>

    <div class="status-due-date">
        <h6 class="status  <%= task_status(@task)[:class] %>">
            <%= task_status(@task)[:text] %>
        </h6>

        <div class="due-date">
            <i class="fa-solid fa-calendar"></i>
            <%= @task.due_date.strftime("%^a %b %d, %Y") %>
        </div>
    </div>

    <div class="notes">
        <%= @task.notes.empty? ? "No notes" : @task.notes %>
    </div>
</div>
