<%= form_with model: @category do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <% category.errors.full_messages.each do |message| %>
            <div class="error"><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= f.submit btn_label %>
    </div>
<% end %>
