<h1 class="heading-1">All Categories</h1>
<div class="btn">
    <%= link_to new_category_path do %>
        <i class="fa-solid fa-plus"></i> Create A New Category
    <% end %>
</div>

<div class="categories">
    <% @categories.each do |category| %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= category.name %></h5>
                <h6 class="card-subtitle mb-2 <%= get_status(category)[:class] %>"><%= get_status(category)[:text] %></h6>
                <p class="card-text">Pending Tasks: <%= category.tasks.where(completed: false || nil).count %></p>
                <div class="card-links">
                    <%= link_to "Show", category_path(category), class: "card-link" %>
                    <%= link_to "Edit", edit_category_path(category), class: "card-link" %>
                    <%= link_to "Delete", category_path(category), class: "card-link", method: :delete, data: {
                            confirm: "Are you sure?"
                        } %>
                </div>
            </div>
        </div>
    <% end %>
</div>
