<div class='back-btn'>
    <%= link_to 'javascript:history.back()' do %>
    <i class="fa-solid fa-arrow-left"></i> Back
    <% end %>
</div>

<div class="category-header-container">
    <div class="category-header">
        <h1><%= @category.name %></h1>

        <div class="actions">
            <%= link_to edit_category_path(@category) do %>
                <i class="fa-solid fa-pencil edit-btn action-btn"></i>
            <% end %>
            <%= link_to category_path(@category), method: :delete, data: {
                    confirm: "Are you sure?"
                } do %>
                <i class="fa-solid fa-trash delete-btn action-btn"></i>
            <% end %>
        </div>
    </div>

    <%= link_to new_task_path, class: 'btn' do %>
        <i class="fa-solid fa-plus"></i> Add a Task
    <% end %>
</div>

<%= render "tasks", tasks: @overdue_tasks, label: "Overdue" %>
<%= render "tasks", tasks: @today_tasks, label: "Today" %>
<%= render "tasks", tasks: @future_tasks, label: "Future" %>
<%= render "tasks", tasks: @completed_tasks, label: "Completed" %>
