<h3 class="tasks-group-label"><%= label %></h3>

<div class="tasks-group">
    <% tasks.each do |task| %>
        <% if task.completed? %>
            <div class="task-item completed">
        <% else %>
            <div class="task-item">
        <% end %>
            <div class="task-label">
                <%= form_with model: task do |f| %>
                    <%= f.check_box :completed%>
                <% end %>
                <h6 class="task-title">
                    <%= task.title %>
                </h6>
            </div>
            <p class="task-due-date">
                <i class="fa-solid fa-calendar"></i>
                <%= task.due_date.strftime("%^a %b %d, %Y") %>
            </p>
            <div class="task-actions">
                <p class="task-action">
                    <%= link_to task_path(task) do %>
                        <i class="fa-solid fa-eye view-btn"></i>
                    <% end %>
                </p>
                <p class="task-action">
                    <%= link_to edit_task_path(task) do %>
                        <i class="fa-solid fa-pencil edit-btn"></i>
                    <% end %>
                </p>
                <p class="task-action">
                    <%= link_to task_path(task), method: :delete, data: {
                            confirm: "Are you sure"
                    } do %>
                        <i class="fa-solid fa-trash delete-btn"></i>
                    <% end %>
                </p>
            </div>
        </div>
    <% end %>
</div>
